@model IEnumerable<PhotoAlbums.Web.ViewModels.AlbumViewModel>

@{
    ViewBag.Title = "Home - Photo Album Demo";
}

<ol>
    @foreach (var albumVm in Model)
    {
        <li>
            <ul>
                <li>Album ID: @albumVm.Album.Id</li>
                <li>Thumbnail URL: @albumVm.ThumbnailUrl</li>
                <li>Album Title: @albumVm.Album.Title</li>
                <li>User's Name: @albumVm.Album.User.Name</li>
                <li>User's Email: @albumVm.Album.User.Email</li>
                <li>User's Phone #: @albumVm.Album.User.Phone</li>
            </ul>
        </li>
    }
</ol>