@model PagedList.IPagedList<PhotoAlbums.Web.ViewModels.AlbumThumbnailViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm("Index", "Albums", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchString")
        <input type="submit" value="Search" />
        @Html.ActionLink("Reset Filter", "Index", new { controller = "Albums" }, null)
    </p>
}

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

<ol>
    @foreach (var albumVm in Model)
    {
        <li>
            <ul>
                <li>Album ID: @albumVm.Album.Id</li>
                <li>Thumbnail URL: @albumVm.ThumbnailUrl</li>
                <li>Album Title: @Html.ActionLink(albumVm.Album.Title, "Show", "Albums", new { id = albumVm.Album.Id }, null)</li>
                <li>User's Name: @Html.ActionLink(albumVm.Album.User.Name, "Show", "Users", new { id = albumVm.Album.User.Id }, null)</li>
                <li>User's Email: @albumVm.Album.User.Email</li>
                <li>User's Phone #: @albumVm.Album.User.Phone</li>
            </ul>
        </li>
    }
</ol>